$shadow: 0 4px 8px 0 rgb(0 0 0 / 40%);

#calculator{
    max-width: 400px;
    background-color: #dddddd;
    //background-color: rgb(246, 239, 239);
    border-radius: 20px;
    padding: 2ch;
    margin: 8ch auto;
    box-shadow: $shadow;
    &__h1{
        margin: 1ch 1ch;
        background-color: white;
        border-radius: 10px;
        padding: 1ch;
        text-align: right;
        box-shadow: $shadow;
    }
    &__ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        align-items: center;
        align-content: center;
        .calculator__ul__li{
            list-style-type: none;
            text-align: center;
            background-color: white;
            margin: 1ch;
            border-radius: 10px;
            padding: 1ch;
            font-size: 1.8em;
            box-shadow: $shadow;
        }
    }
}

